@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.border-gradient {
  border-width: 0.5px;
  outline: linear-gradient(to right, #ea0d12, #f52c70, #fd9e2b);
  border-style: solid;
  border-image-source: linear-gradient(to right, #ea0d12, #f52c70, #fd9e2b);
  border-image-slice: 1;
  border-radius: "30px";
}
.border-gradient-b {
  border-bottom: 0.5px;
  border-style: solid;
  border-image-source: linear-gradient(to right, #ea0d12, #f52c70, #fd9e2b);
  border-image-slice: 1;
}

.dropdown-gradient {
  border-width: 0.5px;
  outline: linear-gradient(to right, #ea0d12, #f52c70, #fd9e2b);
  border-style: solid;
  border-image-source: linear-gradient(to right, #ea0d12, #f52c70, #fd9e2b);
  border-image-slice: 1;
  border-radius: 0 0 60px 60px;
}

.button-gradient {
  @apply bg-gradient-to-r from-primary via-secondary to-tertiary text-white;
}

.gradient-heading {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-tertiary;
}

.data-desc {
  @apply max-w-3xl text-center mx-auto my-6;
}

.card-gradient {
  @apply bg-gradient-to-b from-primary_effect to-secondary_effect;
}
